<div class="calendar-container">
  <!-- Calendar Days and Header at the Top -->
  <div class="calendar-header">
    <button class="nav-arrow" (click)="previousMonth()">&#9664;</button>
    <span>{{ monthNames[currentMonth] }} {{ currentYear }}</span>
    <button class="nav-arrow" (click)="nextMonth()">&#9654;</button>
  </div>

  <div class="calendar-days">
    <div *ngFor="let dayObj of daysInMonth" class="calendar-day" [ngStyle]="{'width': getDynamicDayWidth()}"
      [ngClass]="{'weekend': dayObj.day === 0 || dayObj.day === 6}">
      <div class="calendar-day-header">{{ dayNames[dayObj.day] }}</div>
      {{ dayObj.date }}
    </div>
  </div>

  <!-- Car Rows Container with Vertical Scrolling -->
  <div class="car-rows-container">
    <div *ngFor="let car of cars" class="car-row">
      <!-- Car Details -->
      <div class="car-details">
        <div class="car-model">{{ car.carModel }}</div>
        <div class="car-actions">
          <!-- FontAwesome car icon -->
          <i class="fas fa-car car-icon" (click)="showImage(car.imageUrl)"></i>
          <button class="edit-button" (click)="logCarModel(car.carModel)">BEARBEITEN</button> <!-- Updated -->
        </div>
      </div>

      <!-- Car Availability Days -->
      <div class="car-availability">
        <div *ngFor="let dayObj of daysInMonth" class="car-day" [ngStyle]="{'width': getDynamicDayWidth()}" [ngClass]="{
            'weekend': dayObj.day === 0 || dayObj.day === 6,
            'available': !isUnavailable(car, dayObj.date),
            'unavailable': isUnavailable(car, dayObj.date)
          }">
          <div class="inner-status"></div>
          <!-- Tooltip icon displayed only for red/unavailable days -->
          <div *ngIf="isUnavailable(car, dayObj.date)" class="tooltip-icon">
            <i class="fas fa-info-circle"></i> <!-- FontAwesome icon for info -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Image Preview Modal -->
  <div class="image-preview" *ngIf="selectedImage">
    <div class="image-preview-content">
      <img [src]="selectedImage" alt="Car Image Preview">
      <button class="close-button" (click)="closeImage()"></button>
    </div>
  </div>

  <!-- Calendar Days and Header at the Bottom -->
  <div class="calendar-days">
    <div *ngFor="let dayObj of daysInMonth" class="calendar-day" [ngStyle]="{'width': getDynamicDayWidth()}"
      [ngClass]="{'weekend': dayObj.day === 0 || dayObj.day === 6}">
      <div class="calendar-day-header">{{ dayNames[dayObj.day] }}</div>
      {{ dayObj.date }}
    </div>
  </div>

  <div class="calendar-header">
    <button class="nav-arrow" (click)="previousMonth()">&#9664;</button>
    <span>{{ monthNames[currentMonth] }} {{ currentYear }}</span>
    <button class="nav-arrow" (click)="nextMonth()">&#9654;</button>
  </div>
</div>